<h4>Cadastro de Pessoas</h4>
<form>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <select class="form-control">
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
        </select>
    </div>
    <div class="form-group has-warning has-feedback">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" placeholder="Nome Completo" aria-describedby="inputWarning2Status">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        <span id="inputWarning2Status" class="sr-only">(Warning)</span>
    </div>
    <div class="form-group has-success">
        <label class="control-label" for="cpf">CPF</label>
        input
    </div>
    <button class="btn btn-primary">Salvar</button>
    <button class="btn btn-danger">Cancelar</button>
</form>