<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">{{app.nome}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/">home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle pointer-mao" data-toggle="dropdown">
                        Pessoas <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <li><a href="#/pessoas/listagem">Listagem de Pessoas</a></li>
                    <li><a href="#/pessoas/cadastro">Cadastro de Pessoas</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/cadastrar"><span class="glyphicon glyphicon-user"></span> Cadastrar</a></li>
            <li><a href="#/entrar"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
        </ul>
    </div>
</nav>